In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import gcsfs
from pathlib import Path
import yaml
import dask.array as da
from ag3 import release_data
v3_release = release_data()

In [2]:
samplesets = v3_release.all_wild_sample_sets

In [3]:
p3_df = v3_release.load_sample_set_metadata(samplesets, True)
p3_df.head()

/opt/conda/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

,partner_sample_id,contributor,country,location,year,month,latitude,longitude,sex_call,sample_set,aim_fraction_colu,aim_fraction_arab,species_gambcolu_arabiensis,species_gambiae_coluzzii,is_arabiensis,is_gamb_colu,is_gambiae,is_coluzzii
sample_id,,,,,,,,,,,,,,,,,,
AR0047-C,LUA047,Joao Pinto,Angola,Luanda,2009,4,-8.884,13.302,F,AG1000G-AO,0.945,0.001,gamb_colu,coluzzii,False,True,False,True
AR0049-C,LUA049,Joao Pinto,Angola,Luanda,2009,4,-8.884,13.302,F,AG1000G-AO,0.933,0.001,gamb_colu,coluzzii,False,True,False,True
AR0051-C,LUA051,Joao Pinto,Angola,Luanda,2009,4,-8.884,13.302,F,AG1000G-AO,0.937,0.002,gamb_colu,coluzzii,False,True,False,True
AR0061-C,LUA061,Joao Pinto,Angola,Luanda,2009,4,-8.884,13.302,F,AG1000G-AO,0.938,0.002,gamb_colu,coluzzii,False,True,False,True
AR0078-C,LUA078,Joao Pinto,Angola,Luanda,2009,4,-8.884,13.302,F,AG1000G-AO,0.926,0.001,gamb_colu,coluzzii,False,True,False,True

In [4]:
p3_df.tail()

,partner_sample_id,contributor,country,location,year,month,latitude,longitude,sex_call,sample_set,aim_fraction_colu,aim_fraction_arab,species_gambcolu_arabiensis,species_gambiae_coluzzii,is_arabiensis,is_gamb_colu,is_gambiae,is_coluzzii
sample_id,,,,,,,,,,,,,,,,,,
AC0295-C,K92,Martin Donnelly,Uganda,Kihihi,2012,11,-0.751,29.701,F,AG1000G-UG,0.026,0.002,gamb_colu,gambiae,False,True,True,False
AC0296-C,K93,Martin Donnelly,Uganda,Kihihi,2012,11,-0.751,29.701,F,AG1000G-UG,0.029,0.003,gamb_colu,gambiae,False,True,True,False
AC0297-C,K94,Martin Donnelly,Uganda,Kihihi,2012,11,-0.751,29.701,F,AG1000G-UG,0.026,0.002,gamb_colu,gambiae,False,True,True,False
AC0298-C,K95,Martin Donnelly,Uganda,Kihihi,2012,11,-0.751,29.701,F,AG1000G-UG,0.029,0.002,gamb_colu,gambiae,False,True,True,False
AC0299-C,K96,Martin Donnelly,Uganda,Kihihi,2012,11,-0.751,29.701,F,AG1000G-UG,0.029,0.002,gamb_colu,gambiae,False,True,True,False

In [5]:
p3_df.head()

,partner_sample_id,contributor,country,location,year,month,latitude,longitude,sex_call,sample_set,aim_fraction_colu,aim_fraction_arab,species_gambcolu_arabiensis,species_gambiae_coluzzii,is_arabiensis,is_gamb_colu,is_gambiae,is_coluzzii
sample_id,,,,,,,,,,,,,,,,,,
AR0047-C,LUA047,Joao Pinto,Angola,Luanda,2009,4,-8.884,13.302,F,AG1000G-AO,0.945,0.001,gamb_colu,coluzzii,False,True,False,True
AR0049-C,LUA049,Joao Pinto,Angola,Luanda,2009,4,-8.884,13.302,F,AG1000G-AO,0.933,0.001,gamb_colu,coluzzii,False,True,False,True
AR0051-C,LUA051,Joao Pinto,Angola,Luanda,2009,4,-8.884,13.302,F,AG1000G-AO,0.937,0.002,gamb_colu,coluzzii,False,True,False,True
AR0061-C,LUA061,Joao Pinto,Angola,Luanda,2009,4,-8.884,13.302,F,AG1000G-AO,0.938,0.002,gamb_colu,coluzzii,False,True,False,True
AR0078-C,LUA078,Joao Pinto,Angola,Luanda,2009,4,-8.884,13.302,F,AG1000G-AO,0.926,0.001,gamb_colu,coluzzii,False,True,False,True

In [6]:
p2_df = pd.read_csv("../data/ag1000g_phase2_samples.meta.txt", sep="\t")
p2_df.country = p2_df.country.str.replace("France", "Mayotte")
p2_df.head()

,ox_code,src_code,population,country,location,site,contributor,contact,year,m_s,sex,n_sequences,mean_coverage,ebi_sample_acc,latitude,longitude
0,AA0040-C,Twifo_Praso__E2,GHcol,Ghana,Twifo Praso,Twifo Praso,David Weetman,David Weetman,2012,M,F,95033368,30.99,ERS311878,5.60858,-1.54926
1,AA0041-C,Twifo_Praso__H3,GHcol,Ghana,Twifo Praso,Twifo Praso,David Weetman,David Weetman,2012,M,F,95843804,31.70,ERS311886,5.60858,-1.54926
2,AA0042-C,Takoradi_C7,GHcol,Ghana,Takoradi,Takoradi,David Weetman,David Weetman,2012,M,F,107420666,35.65,ERS311894,4.91217,-1.77397
3,AA0043-C,Takoradi_H8,GHcol,Ghana,Takoradi,Takoradi,David Weetman,David Weetman,2012,M,F,95993752,29.46,ERS311902,4.91217,-1.77397
4,AA0044-C,Takoradi_D10,GHcol,Ghana,Takoradi,Takoradi,David Weetman,David Weetman,2012,M,F,103044262,33.67,ERS311910,4.91217,-1.77397

In [7]:
#non ox-code samples?
p3_df[p3_df.index.str.contains("VBS", case=False)]

,partner_sample_id,contributor,country,location,year,month,latitude,longitude,sex_call,sample_set,aim_fraction_colu,aim_fraction_arab,species_gambcolu_arabiensis,species_gambiae_coluzzii,is_arabiensis,is_gamb_colu,is_gambiae,is_coluzzii
sample_id,,,,,,,,,,,,,,,,,,
VBS02039-4431STDY6672907,3227,Nora Besansky,Cameroon,Birsok,2005,-1,6.997,13.133,F,AG1000G-CM-B,0.025,0.002,gamb_colu,gambiae,False,True,True,False
VBS02040-4431STDY6672908,3245,Nora Besansky,Cameroon,Mabarangal'L,2005,-1,6.915,13.132,F,AG1000G-CM-B,0.038,0.002,gamb_colu,gambiae,False,True,True,False
VBS02041-4431STDY6672909,3284,Nora Besansky,Cameroon,Tekel,2005,-1,6.806,13.174,F,AG1000G-CM-B,0.034,0.003,gamb_colu,gambiae,False,True,True,False
VBS02042-4431STDY6672910,3308,Nora Besansky,Cameroon,Beka Goto,2005,-1,6.751,13.111,F,AG1000G-CM-B,0.037,0.002,gamb_colu,gambiae,False,True,True,False
VBS02043-4431STDY6672911,3310,Nora Besansky,Cameroon,Beka Goto,2005,-1,6.751,13.111,F,AG1000G-CM-B,0.028,0.002,gamb_colu,gambiae,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VBS02119-4431STDY6772831,kl0831,Nora Besansky,Mali,Kela,2004,8,11.880,-8.450,F,AG1000G-ML-B,0.028,0.002,gamb_colu,gambiae,False,True,True,False
VBS02121-4431STDY6772832,kl0836,Nora Besansky,Mali,Kela,2004,8,11.880,-8.450,F,AG1000G-ML-B,0.046,0.002,gamb_colu,gambiae,False,True,True,False
VBS02127-4431STDY6772833,kl0869,Nora Besansky,Mali,Kela,2004,8,11.880,-8.450,F,AG1000G-ML-B,0.037,0.002,gamb_colu,gambiae,False,True,True,False
VBS02129-4431STDY6772835,kl0884,Nora Besansky,Mali,Kela,2004,8,11.880,-8.450,F,AG1000G-ML-B,0.033,0.002,gamb_colu,gambiae,False,True,True,False
VBS02130-4431STDY6772836,kl0886,Nora Besansky,Mali,Kela,2004,8,11.880,-8.450,F,AG1000G-ML-B,0.025,0.002,gamb_colu,gambiae,False,True,True,False

## sample sets

In [8]:
p3_df.sample_set.unique(), len(p3_df.sample_set.unique())

(array(['AG1000G-AO', 'AG1000G-BF-A', 'AG1000G-BF-B', 'AG1000G-BF-C',
        'AG1000G-CD', 'AG1000G-CF', 'AG1000G-CI', 'AG1000G-CM-A',
        'AG1000G-CM-B', 'AG1000G-CM-C', 'AG1000G-FR', 'AG1000G-GA-A',
        'AG1000G-GH', 'AG1000G-GM-A', 'AG1000G-GM-B', 'AG1000G-GM-C',
        'AG1000G-GN-A', 'AG1000G-GN-B', 'AG1000G-GQ', 'AG1000G-GW',
        'AG1000G-KE', 'AG1000G-ML-A', 'AG1000G-ML-B', 'AG1000G-MW',
        'AG1000G-MZ', 'AG1000G-TZ', 'AG1000G-UG'], dtype=object),
 27)

## samples

In [9]:
#how many samples in phase 3 in total
p3_len = p3_df.shape[0]
p3_len

2784

In [10]:
#are there any samples sequenced twice?
p3_df.reset_index(inplace=True)

In [11]:
#nope
len(p3_df.sample_id.apply(lambda x: x[:8]).unique())

2784

In [12]:
#how many samples in phase 2 in total
p2_len = p2_df.shape[0]
p2_len

1142

In [60]:
len(p2_df.population.unique())

16

In [13]:
#naively how many new samples in phase 3...
p3_len - p2_len

1642

In [14]:
#...but p2 is not actually a subset of p3
#how many samples are "new" to ag1000g in phase 3
p3_unique = np.setdiff1d(p3_df.index, p2_df.ox_code)
len(p3_unique)

/opt/conda/lib/python3.7/site-packages/numpy/lib/arraysetops.py:565: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask &= (ar1 != a)

2784

In [15]:
#how many samples that were in p1 + p2 are missing from phase 3
p2_unique = np.setdiff1d(p2_df.ox_code, p3_df.index)
len(p2_unique)

1142

In [16]:
p2_unique

array(['AA0040-C', 'AA0041-C', 'AA0042-C', ..., 'AY0089-C', 'AY0090-C',
       'AY0091-C'], dtype=object)

In [17]:
#p2_unique seems high, though samples have been dropped fairly evenly across sample sets
p2_unique[0]

'AA0040-C'

In [18]:
p2_df[p2_df.ox_code == 'AB0085-C']

,ox_code,src_code,population,country,location,site,contributor,contact,year,m_s,sex,n_sequences,mean_coverage,ebi_sample_acc,latitude,longitude
67,AB0085-C,BF2-4,BFgam,Burkina Faso,Pala,Pala,Austin Burt,Sam O'Loughlin,2012,S,F,89905852,28.01,ERS223996,11.15,-4.235

In [19]:
p3_df[p3_df.index == 'AB0085-C']

/opt/conda/lib/python3.7/site-packages/pandas/core/indexes/base.py:122: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = op(self.values, np.asarray(other))

Empty DataFrame
Columns: [sample_id, partner_sample_id, contributor, country, location, year, month, latitude, longitude, sex_call, sample_set, aim_fraction_colu, aim_fraction_arab, species_gambcolu_arabiensis, species_gambiae_coluzzii, is_arabiensis, is_gamb_colu, is_gambiae, is_coluzzii]
Index: []

##### is there an easy way of working out where in the pipeline we lost these samples?

## countries

In [20]:
p2_countries = p2_df.country.unique()
p2_df.country.value_counts(), len(p2_countries)

(Cameroon             297
 Burkina Faso         167
 Uganda               112
 Guinea-Bissau         91
 Angola                78
 Cote d'Ivoire         71
 Gabon                 69
 Ghana                 67
 Gambia, The           65
 Kenya                 48
 Guinea                44
 Mayotte               24
 Equatorial Guinea      9
 Name: country, dtype: int64,
 13)

In [21]:
p3_countries = p3_df.country.unique()
p3_df.country.value_counts(), len(p3_countries)

(Cameroon                        444
 Tanzania                        300
 Burkina Faso                    296
 Uganda                          290
 Gambia, The                     279
 Mali                            225
 Guinea                          136
 Guinea-Bissau                   101
 Ghana                           100
 Kenya                            86
 Angola                           81
 Cote d'Ivoire                    80
 Democratic Republic of Congo     76
 Mozambique                       74
 Central African Republic         73
 Gabon                            69
 Malawi                           41
 Mayotte                          23
 Equatorial Guinea                10
 Name: country, dtype: int64,
 19)

In [22]:
p3_country_unique = np.setdiff1d(p3_countries, p2_countries)
p3_country_unique

array(['Central African Republic', 'Democratic Republic of Congo',
       'Malawi', 'Mali', 'Mozambique', 'Tanzania'], dtype=object)

## sites

In [23]:
#this gets a bit tricky, some unique lat/lons have multiple sites names (Cameroon iirc)
# use unique lat/lons

In [24]:
len(p2_df.groupby(["latitude", "longitude"]).size())

29

In [25]:
#p3 unique sites (the are 122 "unique" lats AND lons if counted separately) 
len(p3_df.groupby(["latitude", "longitude"]).size())

124

## sex

In [26]:
p3_sex = p3_df.sex_call.unique()
p3_df.sex_call.value_counts()

F      2532
M       223
UKN      29
Name: sex_call, dtype: int64

## colony crosses

In [49]:
#bucket meta data - no colony info
X_df = v3_release.load_sample_set_metadata('AG1000G-X')
X_df.shape

/opt/conda/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

(699, 18)

In [50]:
#this must be the phase two data
# X_df = pd.read_csv('../data/cross.samples.meta.txt', sep='\t')
# X_df.shape

In [51]:
X_df.tail()

,partner_sample_id,contributor,country,location,year,month,latitude,longitude,sex_call,sample_set,aim_fraction_colu,aim_fraction_arab,species_gambcolu_arabiensis,species_gambiae_coluzzii,is_arabiensis,is_gamb_colu,is_gambiae,is_coluzzii
sample_id,,,,,,,,,,,,,,,,,,
AD0733-C,SENN_F_-_DONG_M_Fam1z_28,Martin Donnelly,Lab Cross,LSTM,-1,-1,53.409,-2.969,F,AG1000G-X,NaN,NaN,NaN,NaN,False,False,False,False
AD0734-C,SENN_F_-_DONG_M_Fam1z_29,Martin Donnelly,Lab Cross,LSTM,-1,-1,53.409,-2.969,F,AG1000G-X,NaN,NaN,NaN,NaN,False,False,False,False
AD0735-C,SENN_F_-_DONG_M_Fam1z_30,Martin Donnelly,Lab Cross,LSTM,-1,-1,53.409,-2.969,F,AG1000G-X,NaN,NaN,NaN,NaN,False,False,False,False
AD0736-C,SENN_F_MUM_Fam_1z,Martin Donnelly,Lab Cross,LSTM,-1,-1,53.409,-2.969,F,AG1000G-X,NaN,NaN,NaN,NaN,False,False,False,False
AD0737-C,DONG_M_DAD_Fam_1z,Martin Donnelly,Lab Cross,LSTM,-1,-1,53.409,-2.969,M,AG1000G-X,NaN,NaN,NaN,NaN,False,False,False,False

In [34]:
X_df.head()

,Unnamed: 0,ox_code,cross,role,n_reads,median_cov,mean_cov,sex,colony_id
0,0,AD0142-C,18-5,parent,60486753,26,25.824447,F,Ghana
1,1,AD0143-C,18-5,parent,58509103,19,18.800118,M,Kisumu/G3
2,2,AD0146-C,18-5,progeny,101612499,44,43.494594,NaN,NaN
3,3,AD0147-C,18-5,progeny,50710020,16,16.284487,NaN,NaN
4,4,AD0148-C,18-5,progeny,59023991,19,18.978021,NaN,NaN

### not clear which is correct meta data, the bucket file doesn't have the colony names (699 samples) and the one I've just copied from vector_ops is from phase 2 (234 samples)...
- lets look at the gt for the crosses
- how many samples have we actually got?

In [54]:
#okay so 699 samples in the genotypes
gt = v3_release.load_sample_set_calldata("2L", 'AG1000G-X', "GT")
gt

dask.array<from-zarr, shape=(48525747, 699, 2), dtype=int8, chunksize=(300000, 50, 2), chunktype=numpy.ndarray>

### what about the other file 'crosses.tsv' in vector_ops?
- can we build a good meta file?
- nope, it's got 539 rows...
- ?