In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import gcsfs
from pathlib import Path
import yaml
import dask.array as da
from ag3 import release_data
v3_release = release_data()

In [5]:
samplesets = v3_release.all_wild_sample_sets

In [16]:
p3_df = v3_release.load_sample_set_metadata(v3_release.all_sample_sets, True)
p3_df.head()

/opt/conda/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

,partner_sample_id,contributor,country,location,year,month,latitude,longitude,sex_call,sample_set,aim_fraction_colu,aim_fraction_arab,species_gambcolu_arabiensis,species_gambiae_coluzzii,is_arabiensis,is_gamb_colu,is_gambiae,is_coluzzii
sample_id,,,,,,,,,,,,,,,,,,
AR0047-C,LUA047,Joao Pinto,Angola,Luanda,2009,4,-8.884,13.302,F,AG1000G-AO,0.945,0.001,gamb_colu,coluzzii,False,True,False,True
AR0049-C,LUA049,Joao Pinto,Angola,Luanda,2009,4,-8.884,13.302,F,AG1000G-AO,0.933,0.001,gamb_colu,coluzzii,False,True,False,True
AR0051-C,LUA051,Joao Pinto,Angola,Luanda,2009,4,-8.884,13.302,F,AG1000G-AO,0.937,0.002,gamb_colu,coluzzii,False,True,False,True
AR0061-C,LUA061,Joao Pinto,Angola,Luanda,2009,4,-8.884,13.302,F,AG1000G-AO,0.938,0.002,gamb_colu,coluzzii,False,True,False,True
AR0078-C,LUA078,Joao Pinto,Angola,Luanda,2009,4,-8.884,13.302,F,AG1000G-AO,0.926,0.001,gamb_colu,coluzzii,False,True,False,True

In [24]:
p3_df.tail()

,partner_sample_id,contributor,country,location,year,month,latitude,longitude,sex_call,sample_set,aim_fraction_colu,aim_fraction_arab,species_gambcolu_arabiensis,species_gambiae_coluzzii,is_arabiensis,is_gamb_colu,is_gambiae,is_coluzzii
sample_id,,,,,,,,,,,,,,,,,,
AD0733-C,SENN_F_-_DONG_M_Fam1z_28,Martin Donnelly,Lab Cross,LSTM,-1,-1,53.409,-2.969,F,AG1000G-X,NaN,NaN,NaN,NaN,False,False,False,False
AD0734-C,SENN_F_-_DONG_M_Fam1z_29,Martin Donnelly,Lab Cross,LSTM,-1,-1,53.409,-2.969,F,AG1000G-X,NaN,NaN,NaN,NaN,False,False,False,False
AD0735-C,SENN_F_-_DONG_M_Fam1z_30,Martin Donnelly,Lab Cross,LSTM,-1,-1,53.409,-2.969,F,AG1000G-X,NaN,NaN,NaN,NaN,False,False,False,False
AD0736-C,SENN_F_MUM_Fam_1z,Martin Donnelly,Lab Cross,LSTM,-1,-1,53.409,-2.969,F,AG1000G-X,NaN,NaN,NaN,NaN,False,False,False,False
AD0737-C,DONG_M_DAD_Fam_1z,Martin Donnelly,Lab Cross,LSTM,-1,-1,53.409,-2.969,M,AG1000G-X,NaN,NaN,NaN,NaN,False,False,False,False

In [18]:
p2_df = pd.read_csv("../data/ag1000g_phase2_samples.meta.txt", sep="\t")
p2_df.head()

,ox_code,src_code,population,country,location,site,contributor,contact,year,m_s,sex,n_sequences,mean_coverage,ebi_sample_acc,latitude,longitude
0,AA0040-C,Twifo_Praso__E2,GHcol,Ghana,Twifo Praso,Twifo Praso,David Weetman,David Weetman,2012,M,F,95033368,30.99,ERS311878,5.60858,-1.54926
1,AA0041-C,Twifo_Praso__H3,GHcol,Ghana,Twifo Praso,Twifo Praso,David Weetman,David Weetman,2012,M,F,95843804,31.70,ERS311886,5.60858,-1.54926
2,AA0042-C,Takoradi_C7,GHcol,Ghana,Takoradi,Takoradi,David Weetman,David Weetman,2012,M,F,107420666,35.65,ERS311894,4.91217,-1.77397
3,AA0043-C,Takoradi_H8,GHcol,Ghana,Takoradi,Takoradi,David Weetman,David Weetman,2012,M,F,95993752,29.46,ERS311902,4.91217,-1.77397
4,AA0044-C,Takoradi_D10,GHcol,Ghana,Takoradi,Takoradi,David Weetman,David Weetman,2012,M,F,103044262,33.67,ERS311910,4.91217,-1.77397

In [26]:
#non ox-code samples?
p3_df[p3_df.index.str.contains("VBS", case=False)]

,partner_sample_id,contributor,country,location,year,month,latitude,longitude,sex_call,sample_set,aim_fraction_colu,aim_fraction_arab,species_gambcolu_arabiensis,species_gambiae_coluzzii,is_arabiensis,is_gamb_colu,is_gambiae,is_coluzzii
sample_id,,,,,,,,,,,,,,,,,,
VBS02039-4431STDY6672907,3227,Nora Besansky,Cameroon,Birsok,2005,-1,6.997,13.133,F,AG1000G-CM-B,0.025,0.002,gamb_colu,gambiae,False,True,True,False
VBS02040-4431STDY6672908,3245,Nora Besansky,Cameroon,Mabarangal'L,2005,-1,6.915,13.132,F,AG1000G-CM-B,0.038,0.002,gamb_colu,gambiae,False,True,True,False
VBS02041-4431STDY6672909,3284,Nora Besansky,Cameroon,Tekel,2005,-1,6.806,13.174,F,AG1000G-CM-B,0.034,0.003,gamb_colu,gambiae,False,True,True,False
VBS02042-4431STDY6672910,3308,Nora Besansky,Cameroon,Beka Goto,2005,-1,6.751,13.111,F,AG1000G-CM-B,0.037,0.002,gamb_colu,gambiae,False,True,True,False
VBS02043-4431STDY6672911,3310,Nora Besansky,Cameroon,Beka Goto,2005,-1,6.751,13.111,F,AG1000G-CM-B,0.028,0.002,gamb_colu,gambiae,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VBS02119-4431STDY6772831,kl0831,Nora Besansky,Mali,Kela,2004,8,11.880,-8.450,F,AG1000G-ML-B,0.028,0.002,gamb_colu,gambiae,False,True,True,False
VBS02121-4431STDY6772832,kl0836,Nora Besansky,Mali,Kela,2004,8,11.880,-8.450,F,AG1000G-ML-B,0.046,0.002,gamb_colu,gambiae,False,True,True,False
VBS02127-4431STDY6772833,kl0869,Nora Besansky,Mali,Kela,2004,8,11.880,-8.450,F,AG1000G-ML-B,0.037,0.002,gamb_colu,gambiae,False,True,True,False
VBS02129-4431STDY6772835,kl0884,Nora Besansky,Mali,Kela,2004,8,11.880,-8.450,F,AG1000G-ML-B,0.033,0.002,gamb_colu,gambiae,False,True,True,False
VBS02130-4431STDY6772836,kl0886,Nora Besansky,Mali,Kela,2004,8,11.880,-8.450,F,AG1000G-ML-B,0.025,0.002,gamb_colu,gambiae,False,True,True,False

In [30]:
len(p3_df)

3483

In [23]:
len(p3_df) - len(p2_df)

2341

In [27]:
len(np.setdiff1d(p3_df.index, p2_df.ox_code))

2522

In [29]:
len(np.setdiff1d(p2_df.ox_code, p3_df.index))

181

In [32]:
3483-1143+181

2521